In [3]:
def square(arg1=20, arg2=50):
    """This adds two numbers together"""
    return( arg1 + arg2)
val = square(90, 110)
val

200

In [4]:
def squared(num):
    return num**2
def cubed(num):
    return num**3
def quad(num):
    return num**4
v = 4
print(squared(v))
print(cubed(v))
print(quad(v))
total = squared(v) + cubed(v) + quad(v)
total

16
64
256

336

In [5]:
def greet():
    """Enter the time and print appropriate greeting!"""
    time = eval(input("Enter the time: "))
    if time >= 6 and time < 12:
        print("Good morning!")

        return squared(time)
    elif time >= 12 and time < 18:
        print("Afternoon!")
        return cubed(time)
    elif time >= 18 and time < 21:
        print("Good evening!")
        return quad(time)
    else:
        print("Good night!")
        return time

In [6]:
number =greet()

Enter the time: 7
Good morning!

In [7]:
number

49

#### Random Function

In [8]:
import random as rd
from random import *

In [9]:
rd.random()
rd.randint(10, 20)
rd.randrange(10, 100, 10)

90

In [10]:
random()
randint(10, 20)

11

In [12]:
rd.randint(50, 100)*8

584

In [13]:
rd.uniform(2, 3)

2.862095878374258

In [16]:
animals = ["\N{cat}", "\N{dog}", "\N{snake}", "\N{horse}"]
type(animals)
rd.shuffle(animals)
animals

['🐈', '🐎', '🐍', '🐕']

In [17]:
heroes = ["Batman", "Spiderman", "Ironman", "Captain America"]
villains = ["Joker", "Venom", "Thanos", "Red Skull"]
numbers = list(range(len(heroes)))
numbers
rd.shuffle(heroes) ; rd.shuffle(villains)
for i in numbers:
    print(heroes[i], "VS", villains[i])

Ironman VS Venom
Spiderman VS Joker
Captain America VS Red Skull
Batman VS Thanos

In [18]:
# probabilities = [0.25]*4
probabilities = [0.9, 0.01, 0.01 , 0.08]
students = ["Gracie", "Callum", "Blaise", "Tommy"]
rd.choices(students, probabilities, k = 10)

['Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie',
 'Gracie']

In [19]:
len(rd.sample(range(1, 101), k= 100))

100

In [20]:
import random as rd
rd.seed(10)
numbers = rd.sample(range(10, 100), k = 10)
numbers

[83, 14, 64, 71, 11, 36, 69, 72, 45, 93]

In [21]:
max(numbers)
min(numbers)
sum(numbers)
round(9.12345, 4)
abs(10)
eval("4.5")
pow(4, 2)
10**2

100

In [23]:
new_numbers = sorted(numbers)
new_numbers
[pow(x, 2) for x in new_numbers]

[121, 196, 1296, 2025, 4096, 4761, 5041, 5184, 6889, 8649]

In [24]:
sum([i < 40 for i in new_numbers])

3

In [25]:
data = ["10", 8.12345, 100, -30, -200]
data

['10', 8.12345, 100, -30, -200]

In [26]:
new_data = eval(data[0]) + int(data[1]) + data[2] + abs(data[3]) + abs(data[4])
new_data
data

['10', 8.12345, 100, -30, -200]

In [28]:
clean_data = sorted([abs(k) for k in [int(i) for i in data]])[2:][3::-1]
clean_data
"The top three values {0}, {1}, and {2}. My favourite number is {0}".format(*clean_data)

'The top three values 200, 100, and 30. My favourite number is 200'