In [2]:
name="akash"; grade="A+"
"The student's name is {} and the grade is {}".format(name,grade)

"The student's name is akash and the grade is A+"

In [4]:
animal=["a","b","c"]
safari = "i saw {},{} and a {}"

In [6]:
safari.format(*animal)

'i saw a,b and a c'

In [9]:
safari.format(animal[0].upper(),animal[1],animal[2])

'i saw A,b and a c'

In [10]:
number={10,20,30}
"{}+{}+{}".format(*number)

'10+20+30'

In [11]:
eval("{}+{}+{}".format(*number))

60

In [12]:
eval("{2}+{1}+{1}".format(*number)) #number inside braces represent the index

70

In [2]:
"days spent are {num: .10f}".format(num=300/9)

'days spent are  33.3333333333'

In [6]:

num=300/9
f"days spent are {num: .10f}"

'days spent are  33.3333333333'

In [7]:
"days spent are {num: .10f}"\
.format(num=300/9)

'days spent are  33.3333333333'

In [9]:
p1="python"; p2="older"
f"""This is a docstring that uses {p1} 3.6 and can't be used for {p2} 
versions""".replace("\n"," ")

"This is a docstring that uses python 3.6 and can't be used for older  versions"

In [2]:
range(10)

range(0, 10)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
list(range(3,10,3)) # first:start second:end third: step size

[3, 6, 9]

In [29]:
nest=[[1,2,3],[4,5,6]]
nest
nest[0]
nest[0]*3 #print 3 times
new=[list(range(5)),list(range(5,10))]
nest + new

[[1, 2, 3], [4, 5, 6], [0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [14]:
new.append([100])
new

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [100], [100], [100]]

In [17]:
new.clear()
new

[]

In [19]:
new[0].sort()
new[0]

[0, 1, 2, 3, 4]

In [32]:
new.reverse()
new

[[5, 6, 7, 8, 9], [0, 1, 2, 3, 4]]

In [36]:
new.insert(1,[200]) #value at index
new

[[5, 6, 7, 8, 9], [200], [200], [0, 1, 2, 3, 4], [200], [200]]

In [37]:
new.pop()

[200]

In [39]:
items=["ak", "bk"]

In [41]:
new.append(items)
new

[[5, 6, 7, 8, 9],
 [200],
 [200],
 [0, 1, 2, 3, 4],
 [200],
 ['ak', 'bk'],
 ['ak', 'bk']]

In [42]:
new[3].insert(3,"hey")

In [43]:
new

[[5, 6, 7, 8, 9],
 [200],
 [200],
 [0, 1, 2, 'hey', 3, 4],
 [200],
 ['ak', 'bk'],
 ['ak', 'bk']]

In [44]:
public class MyClass {
    public static void main(String args[]) {
        int flag=0;
     for(int i=1;i<=5;i++)
     {
         flag=0;
         //i=5
         for(int j=0;j<i;)
         {
             System.out.print("*");
             j++;
             //6
             if(j==i && flag==0)
             {
                 System.out.println("");
                 flag=1;
                 j=0;
             }
         }
         System.out.println("");
     }
    }
}

SyntaxError: invalid syntax (<ipython-input-44-1f58cb57de26>, line 1)

In [2]:
t1=10,20,30,True
mylis=[30,40,50]
t2=tuple(mylis)
t3=t1+t2
t3

(10, 20, 30, True, 30, 40, 50)

In [52]:
t3.index(30)

2

In [53]:
t1.count(30)

1

In [ ]:
t3.pop

In [3]:
sum(t1)

61

In [4]:
sum(t1*2)

122

In [5]:
max(t1)

30

In [7]:
d1={}
d1
type(d1)

dict

In [15]:
d1["A"]=10
d1["B"]=20
d1

{'A': 10, 'B': 20, 'c': '30', 'd': '40'}

In [13]:
d2={"c":"30","d":"40"}
d1.update(d2)
d1

{'A': 10, 'B': 20, 'c': '30', 'd': '40'}

In [14]:
d2.clear()
d2

{}

In [16]:
d1["c"]=50
d1

{'A': 10, 'B': 20, 'c': 50, 'd': '40'}

In [17]:
d1.pop("B")

20

In [18]:
d1.values()

dict_values([10, 50, '40'])

In [20]:
#convert into list or tuple for indexing
list(d1)[0]

'A'

In [21]:
list(d1.values())[0]

10

In [22]:
list(d1.values())[0:3]

[10, 50, '40']

In [23]:
d1.keys()

dict_keys(['A', 'c', 'd'])

In [24]:
list(d1.keys())[0]

'A'

In [26]:
tuple(d1.keys())[0]

'A'

In [27]:
d1.items()

dict_items([('A', 10), ('c', 50), ('d', '40')])

In [28]:
list(d1.items())[0]

('A', 10)

In [29]:
dict(list(d1.items()))

{'A': 10, 'c': 50, 'd': '40'}

In [34]:
menu=[("A",1),("B",2)]
menu
dict(menu)

{'A': 1, 'B': 2}